/* Global */
a:hover {
 text-decoration: none;
}

/* Fix Default */
.card {
  margin-top: 0;
}

.mt-3, .my-3 {
margin-top: 0 !important;
}





.mainContainer {
  background-image: url("../image/login-background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.loginSignUpFormContainer {
  padding-top: 10vh;
}

.navbar-brand img {
  max-height: 50px;
}

.formSignUpFormHeader {
  text-align: center;
}

.formSignUpFormHeader img {
  height: auto;
  max-width: 100px;
  margin: auto;
}

.formSignUpFormHeader h3 {
  font-size: 1.2rem;
  text-align: center;
  padding: 15px 0;
}


/* Nav header */

.nav-praweda-head .navbar-nav {
  margin: auto;
  margin-right: 0 !important;
}

.nav-praweda-dashboard {
  background-color: darkred !important;
}
.nav-praweda-dashboard a {
  color: #fff !important;
}

.nav-praweda-dashboard .navbar-nav {
  margin: auto;
  margin-left: 0!important;
}




/* table100 */
.table100 table {
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.table100 tbody tr:nth-child(even) {
background-color: #f5f5f5;
}

.table100 table td, .table100 table th {
  text-align: left;
}

.table100 table thead tr {
height: 60px;
background: #36304a;
}

.table100 .table100-head th {
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

.table100 .column1 {
  padding-left: 40px;
}
.table100 .column6 {
  padding-right: 40px;
}

.table100 .column1 {
  width: 15%;
}
.table100 .column2 {
  width: 10%;
}
.table100 .column3 {
  width: 40%;
}
.table100 .column4 {
  width: 15%;
}
.table100 .column5 {
  width: 10%;
}
.table100 .column6 {
  width: 10%;
}
.table100 .column6 img {
  max-width: 25px;
}

.table100 table tbody tr {
  height: 50px;
  font-size: 15px;
  color: gray;
  line-height: 1.2;
  font-weight: unset;
}
